*{
  box-sizing: border-box;
  text-align: center;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color: blue;
  background-color: black;
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: beige;
  font-size: 25px;
  margin: 15px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;

}
.table-1{
  padding-top: 10px;
  text-align: center;
  border-spacing: 0px;
}
.table-1 tr td{

  border: 3px solid brown;
  margin: 20px 30px;
}
.logo {
  margin: 20px;
  display: flex;
  justify-content: right;
  border-radius: 30px;
  border: 3px solid blueviolet;
}
.logo:hover{
border: 3px solid red;
}
.p2{
  text-align: center;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18;
  font-weight: 600;
}
.table-2{
  padding: 15px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}
.table-2 tr td{
  border: 3px solid black;
  
}
a{
  color: black;
}
.panda{
  border-radius: 300px;
  border: 3px solid gray;
  margin: 30px;
  padding: 0px;
  height: 600px;

}
.parish{
  border: 5px solid bisque;
  border-radius: 50%;
  margin: 50px;
  padding: -100px;
  height: 600px;
  width: 600px;
}
.europe{
  float:left;
  margin-right: 30px;
  width: 400px;
  border-radius: 20%;
}
.europe-2{
  float:right;
  margin-left: 20px;
  width: 400px;
}
.europe-3{
  clear: both;
  margin-left: 20px;
  width: 400px;
}
#example-1{

  background-color: aqua;
  padding: 30px 25px;
  border: none;
  border-radius: 15px;
  color:black;
  font-weight: 800px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.474);
  transition-property: transform, box-shadow, background-colour;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
  }
  #example-1:hover{
    transform: scale(1.2) rotate(-10deg);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.559);
    background-color: rgba(0, 255, 255, 0.366);
  }

  #example-2{
    background-color: rgb(162, 72, 247);
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    font-weight: 600px;
    font-size: 20px;
    margin: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.559);



  }
  #example-2:hover{
    background-color: rgb(189, 135, 240);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.474);
  }